# Dependencies
/node_modules

# Next.js
/.next
/out
/build

# Production
/.pnp
.pnp.js

# Testing
/coverage

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
